* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #f9faf8;
}

header,
footer {
    background-color: #1f2937;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 900;
    font-size: 1em;
    border: #3882f6 2px solid;
    border-radius: 10px;
    padding: 0.2em 1.6em 0.4em 1.6em;
    margin: 0.5em;
}

.content-wrap {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px 10px;
}

nav,
.hero {
    margin-bottom: 80px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

p.logo {
    font-size: 24px;
    font-weight: 900;
}

nav ul li {
    display: inline-block;
}

nav ul li:not(:first-child) {
    margin-left: 1em;
}

div.hero {
    padding-bottom: 20px;
    display: flex;
}

.hero div {
    flex: 1;
    padding: 10px;
}

.hero div h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero div p {
    color: #e5e7eb;
}

.hero div.image {
    background-color: gray;
    width: 500px;
    height: 210px;
    margin: 10px;
    padding: 90px 0;
    text-align: center;
}

.information {
    color: #1f2937;
    text-align: center;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    margin: 20px 0;
}

.figure-set {
    display: flex;
    justify-content: space-around;
    margin: 40px 0 80px;
}

.figure-set figure {
    width: 164px;
}

.figure-set figure img {
    border: #3882f6 4px solid;
    border-radius: 10px;
    width: 164px;
    height: 164px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
}

.quote div.content-wrap {
    display: flex;
}

.quote figure {
    margin: 80px;
}

.quote blockquote {
    font-style: italic;
    font-weight: 300;
}

.quote figcaption {
    font-weight: 600;
    font-size: 0.6em;
    text-align: right;
}

.cta {
    background-color: #3882f6;
    border-radius: 20px;
    padding: 3rem 6rem;
    margin: 80px auto;
    min-height: 164px;
}

.cta div {
    float: left;
}

.cta button {
    border-color: #f9faf8;
    float: right;
}

footer {
    text-align: center;
    padding: 1em;
}